LOAD DATA - READ customer_churn.csv

DROP CUSTOMERID COLUMN AS IT IS OF NO USE

Create New Dataset by Remove rows with space in TotalCharges

Change TotalCharges Datatype to Numeric using to_numeric function

Data Visualization

In [ ]:
tenure_churn_no = df1[df1.Churn=='No'].tenure
tenure_churn_yes = df1[df1.Churn=='Yes'].tenure

import matplotlib.pyplot as plt
plt.xlabel("tenure")
plt.ylabel("Number Of Customers")
plt.title("Customer Churn Prediction Visualiztion")


plt.hist([tenure_churn_yes, tenure_churn_no], rwidth=0.95, color=['green','red'],label=['Churn=Yes','Churn=No'])
plt.legend()

Check With Monthly Charges

Many of the columns are yes, no etc. Let's print unique values in object columns to see data values

In [ ]:
def print_unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}') 
print_unique_col_values(df1)

Some of the columns have no internet service or no phone service, that can be replaced with a simple No

Convert Yes and No to 1 or 0

In [ ]:
yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']

CHECK VALUES

In [ ]:
for col in df1:
    print(f'{col}: {df1[col].unique()}')

CHANGE GENDER VALUES TO 0,1 for FEMALE & MALE

One hot encoding for categorical columns

In [ ]:
df2 = pd.get_dummies(data=df1, columns=['InternetService','Contract','PaymentMethod'])
df2.columns

Apply MinMaxScalar to 'tenure','MonthlyCharges','TotalCharges'

Train test split

Build a model (ANN) in tensorflow/keras

EVALUATE & PREDICT

In [ ]:
import seaborn as sn
cm = tf.math.confusion_matrix(labels=y_test,predictions=y_pred)

plt.figure(figsize = (10,7))
sn.heatmap(cm, annot=True, fmt='d')
plt.xlabel('Predicted')
plt.ylabel('Truth')